footer 
    .footer 
        .footer-block
            p В нашем интернет-магазине представлен большой выбор гироскутеров, сигвеев и электросамокатов от известных мировых производителей. Все товары, представленные на нашем сайте, этобраны лучшими специалистами в этой области.
            p Copyright © 2020 My-Giro
        .mn-1 
            h2 О нас 
            p Контакты
            p Преимущества компании
        .mn-2 
            h2 О товарах
            p Пооезная информация
            p Наша продукция
            p Каталог
