header 
    .wrapper
        .logo
            h1 My-Giro
        nav.main-menu 
            ul 
                li 
                    a(href="index.html") Главная
                li 
                    a(href="abouts.html") О нас
                li 
                    a(href="catalog.html") Каталог
                li 
                    a(href="helpful.html") Полезное