- var docName = "MyGiro"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= docName
        style 
            include styles/style_catalog.css
    body      
        include modules/header   
        
        .catalog
            .zalogo
                h1 Каталог
            nav.menu 
                ol 
                    li Все
                    li Гироскутеры
                    li Электросамокаты
                    li Сигвег
            .containrer 
                .elem 
                    img(src="../img/sig.png", alt="")
                    p Xiaomi Ninebot mini ProWhite (Белый)
                    p.one 31 480 p.
                .elem 
                    img(src="../img/sig.png", alt="")
                    p Xiaomi Ninebot mini ProWhite (Белый)
                    p.one  31 480 p.
                .elem 
                    img(src="../img/sig.png", alt="")
                    p Xiaomi Ninebot mini ProWhite (Белый)
                    p.one  31 480 p.
                .elem 
                    img(src="../img/sig.png", alt="")
                    p Xiaomi Ninebot mini ProWhite (Белый)
                    p.one  31 480 p. 
                .elem 
                    img(src="../img/sig.png", alt="")
                    p Xiaomi Ninebot mini ProWhite (Белый)
                    p.one 31 480 p.
                .elem
                    img(src="../img/sig.png", alt="")
                    p Xiaomi Ninebot mini ProWhite (Белый)
                    p.one  31 480 p.
                .elem 
                    img(src="../img/sig.png", alt="")
                    p Xiaomi Ninebot mini ProWhite (Белый)
                    p.one  31 480 p.
                .elem
                    img(src="../img/sig.png", alt="")
                    p Xiaomi Ninebot mini ProWhite (Белый)
                    p.one  31 480 p.   
            include modules/footer