- var docName = "MyGiro"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= docName
        style 
            include styles/style_helpful.css
    body      
        include modules/header   
   
        .information 
            .zalogo
                h1 Полезная информация
            .elems 
                img(src="/img/polez.png", alt="" width="179")
                p КАК ВЫБРАТЬ ГИРОСКУТЕР?
                    br 
                p СОВЕТЫ ПЕРЕД ПОКУПКОЙ
            .elems 
                img(src="/img/polez.png", alt="" width="179")
                p ШИНОМОНТАЖ  
                    br   
                p ЭЛЕКТРОСАМОКАТОВ И 
                    br
                p ГИРОСКУТЕРОВ
            .elems 
                img(src="/img/polez.png", alt="" width="179")
                p УСТАНОВКА НОВОЙ  
                    br   
                p ОПТИКИ / ФАРЫ И 
                    br
                p ОСВЕЩЕНИЕ
            .elems 
                img(src="/img/polez.png", alt="" width="179") 
                p УСТАНОВКА НОВОЙ  
                    br   
                p ОПТИКИ / ФАРЫ И 
                    br
                p ОСВЕЩЕНИЕ   
        include modules/footer