- var docName = "MyGiro"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= docName
        style 
            include styles/style_abouts.css
    body      
        include modules/header   
        
        .abouts
            .zalogo
                h1 О нас
            p.strong  MyGiro.ru - магазины техники будущего в Москве и Екатеринбурге  
            p В  нашем интернет-магазине представлен большой выбор гироскутеров, сигвеев и электросамокатов от известных мировых производителей. 
            p В нашем интернет-магазине представлен большой выбор гироскутеров, сигвеев и электросамокатов от известных мировых производителей. Все товары, представленные на нашем сайте, отобраны лучшими специалистами в этой области. Купить гироскутер, электросамокат или сигвей недорого.
            p.strong Адреса магазинов: 
            p г. Москва, ул. Смольная д.63Б , вход №1, павильон Б-1, 1 этаж ТЦ "ЭКСТРИМ", ст. М. БЕЛОМОРСКАЯ, есть Бесплатная парковка для наших клиентов.
            p г. Екатеринбург, ул. Куйбышева 61, Цокольный этаж, ТЦ "Наутилус", ст. М. ГЕОЛОГИЧЕСКАЯ, есть Бесплатная парковка для наших клиентов
            p Если у вас есть предложения или вопросы, вы всегда можете написать напрямую на почту создателю Futumag – futumag24@mail.ru
            button В КАТАЛОГ
            include modules/footer