@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
body{
    width: 1920px;
    height: 1629px;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

header{
    height: 62px;

    .logo{
        float: left;
        margin-top: 13px;
        h1{
            text-align: center;
            font-size: 36pt;
            margin-top: 60px;
            margin-bottom: 20px;
            margin-left: 200px;
            color: #000;
    
            font-family: Inter;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .main-menu{
        float: right;
        margin-top: 25px;
        ul{
            li{
                list-style-type: none;
                float: left;
                margin-left: 33px;
                text-transform: uppercase;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}


//Каталог
.catalog{
    margin-top: 100px;
    width: 1920px;
    height: 614px;
    flex-shrink: 0;
    .containrer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .elem{
            margin-top: 130px;
            border: 1px solid gray;
            width: 261px;
            height: 380px;
            background-color: white;
            margin-left: 200px;
        }}
        .menu{
            float: right;
            margin-top: 25px;
            ol{
                li{  
                    list-style-type: none;
                    float: left;
                    margin-left: 33px;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
    h1{
        text-align: center;
        font-size: 36pt;
        margin-top: 60px;
        margin-bottom: 10px;
        margin-left: 200px;
        color: #000;
        padding-top: 60px;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .one{
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .zalogo{
        width: 1920px;
        height: 176px;
        flex-shrink: 0;
        background: #EEF2E3;        
    }
    
}



footer{  
    margin-top: 150px;  
    width: 1920px;
    height: 327px;
    flex-shrink: 0;    
    background-color: #EEF2E3;
    p{
    color: #8191A6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    }

}